*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

.grid-container{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: repeat(7,auto) ;
    grid-template-areas: 
    "cab"
    "princ"
    "img"
    "novedades"
    "novedad1"
    "novedad2"
    "novedad3";
}

header{
    grid-area: cab;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
nav{
    grid-area: nav;
    
  
    background-color: red;
  
}
nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
}
nav li{
    margin-left: 20px;
}

main{
    padding: 2%;
    text-align: justify;
    grid-area: princ;
    background-color: grey;
}
main h3, p{
    color: white; 
    text-align: left;
}
main h2 {
    color: green;
}
.container-img{
    grid-area: img;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "imgs imgs imgs imgs"
    "imgs imgs imgs imgs";
}
img{
    width: 100%;
    height: 20vh;
    grid-area: imgs;
}
.novedades{
    padding: 2%;
    grid-area: novedades;
}
.novedad1{
    padding: 2%;
    grid-area: novedad1;
}
.novedad2{
    padding: 2%;
    grid-area: novedad2;
}
.novedad3{
    padding: 2%;
    grid-area: novedad3;
}
.img9{
 display: none;
}

@media (min-width: 450px) {
    
    .grid-container{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
        "cab cab cab cab"
        "princ princ img img"
        "novedades novedad1 novedad2 novedad3"
        ;
    }
    .container-img{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "imgs imgs imgs imgs"
    "imgs imgs imgs imgs";
    }
 
}