*{
    margin: 0;
    padding: 0;
}
body{
display: flex;
justify-content: center;
}
.indice{
    background-color: lightsalmon;
    width: 20vw;
    
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 30px;
}

ul li {
    list-style-type: none;
    margin: 10px;
}

ul li a {
    text-decoration: none;
    color: blue;
}

