.bloque {
    background: rgb(190, 187, 187);
    border-radius: 17px;
    padding: 10px;
    width: 260px;
    height: 260px;
    margin: 50px;
    transform: translateX(50px);
    -moz-transform: translateX(50px);
    -o-transform:translateX(50px);
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
}

.bloque2 {
    background: rgb(80, 132, 141);
    border-radius: 17px;
    padding: 10px;
    width: 260px;
    height: 260px;
    margin: 50px;
    transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
}