*{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 55rem 5.3rem;
    background-color: rgb(152, 155, 168);
}

nav{
   grid-column: 1 / 4;
   grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    background-color: gray;
    padding: 1.5%;
}

nav a {
    text-decoration: none;
    color: white;
  
   
}
.aside1{
    grid-column: 1;
    grid-row: 2;
}
.divaside{
    background-color: green;
    margin-top: -2%;
}
.p_golfista{
    color: white;
    padding: 2%;
}
.ad{
padding: 5%;
}
.aside2{
    grid-column: 3;
    grid-row: 2;
    padding: 2%;
}
ul {
    list-style-type: none;
}

article{
    grid-column: 2 ;
    grid-row: 2;
    padding: 5%;
     min-width: 60%;
}

footer{
    grid-column: 1 / 4;
    grid-row: 3;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}