*{
    margin: 0;
    padding: 0;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows:repeat(3,200px);
}

.purple{
    border: 1px solid;
    background-color: purple;

}

.pink{
    border: 1px solid;
    background-color: pink;
}

.yellow{
    border: 1px solid;
    background-color: yellow;
}







