*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(images/bg2.jpg) ;
    margin: 2%;
}

.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 70% 15%;
    background-color: rgb(131, 139, 141);

}

nav{
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 1.5%;
}

a{
    text-decoration: none;
    color: white;
}

.aside1{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
   
}
.golfer{
    width: 100%;
    height: 80%;
}

.aside2{
    grid-column: 3;
    grid-row: 2;
}
article{
    grid-column: 2;
    grid-row: 2;
}



footer{
    grid-column: 1 / 4;
    grid-row: 3;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}